*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: black;
    user-select: none;
    font-weight: 500;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: rgb(231, 70, 70);
    border: none;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 1s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
    border: 2px solid rgb(231, 70, 70);
}
.wrapper{
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 1px solid rgb(231, 70, 70);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transform: scale(0);
    transition: transform .5s ease, height .2s ease; */
}
/* .wrapper.active-popup {
    transform: scale(1);
} */
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(231, 70, 70);
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px;
    cursor: pointer;
    z-index: 1;
}
.pp{
    font-size: .8em;
    font-weight: 500;
}
.form-box h2{
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}
.input-box{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 20px;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.remember-forget{
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forget a{
    color: #162938;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background:rgb(231, 70, 70);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
.img_deg{
    border-radius: 5px;
    width: 50%;
}
.body2{
    display: flex;
    width: 100%;
    padding: 10%;
    padding-top: 100px;
}
.content3{
    margin-top: 100px;
}
.trends{
    font-weight: 700;
    color: aqua;
    margin-bottom:25px ;
}
.viss{
    font-weight: 500;
}